{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
    <h1 align= "center"> Jacob's Song Recommnder </h1>
    <div class = "search", align = "center">
        <div class = "col-md-8">
            <form method = "post">
                <label for= "search-bar"> Input a song: </label><br>
                <input type = "text" id = "search-bar" name = "search-bar"><br>
                <input type= "submit" value = "Submit">
            </form>
            {% if song %}
            <p>You searched for: {{ song }}</p>
            {% endif %}
        </div>
    </div>
    <br>
    <div align = "center">
        <p> Songs will display here</p>
    </div>
{% endblock %}
