{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
    <h1 align="center"> Jacob's Song Recommender </h1>
    <div align="center">
        <form method="post" action="{{ url_for('views.home') }}">
            <label for="search-bar">Input a song:</label><br>
            <input type="text" id="search-bar" name="search-bar"><br>
            <input type="submit" name="submit-button" value="Submit">
        </form>
    
        {% if not selected_song %}
            <!-- Form for selecting a song -->
            <form method="post" action="{{ url_for('views.select_song') }}" name="select-song-form">
                <ul>
                    {% if songs %}
                        {% for song in songs %}
                            <li>
                                <button type="submit" name="selected_song" value="{{ song }}">
                                    {{ song.name }} by {{ song.artist }}
                                </button>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>No songs available.</li>
                    {% endif %}
                </ul>
            </form>
        {% endif %}
    </div>
    <div align="center">
        <h3>Selected Song: 
            {% if selected_song %}
                {{ selected_song }}
            {% else %}
                None
            {% endif %}
        </h3>
        {% if selected_song %}
            <!-- Form for getting recommendations -->
            <form method="post" action="{{ url_for('views.recommendations') }}" name="get-recommendations-form">
                <input type="hidden" name="selected_song_details" value="{{ selected_song | tojson }}">
                <input type="submit" name="get-recommendations-button" value="Get Recommendations">
            </form>
        {% endif %}
    </div>
{% endblock %}
