{% extends "base.html" %}
{% block title %} Recommendations {% endblock %}
{% block content %}
    <h1 align="center"> Recommendations </h1>
    <div align="center">
        <h2>Recommended Songs</h2>
        <ul>
            {% if recommendations %}
                {% for song in recommendations %}
                    <li>
                        <strong>{{ song.name }}</strong> by {{ song.artist }}
                    </li>
                {% endfor %}
            {% else %}
                <li>No recommendations available.</li>
            {% endif %}
        </ul>
    </div>
{% endblock %}