{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
    <h1 align="center"> Saved Songs </h1>

    <div align = "center">
        <ul class = "savedsonglist">
            {% if savedsongs %}
                {% for song in savedsongs %}
                    <li>
                        {{ song[1] }} by {{ song[2] }}
                    </li>
                {% endfor %}
            {% else %}
                <li>No songs available.</li>
            {% endif %}
        </ul>
    </div>

{% endblock %}